<%- include("header") -%>


    <% postList.forEach(post => { %>
        <div class="postCard">
            <h2><%= post.title %></h2>
            <!-- Figure out ID insertion here -->
            <p><%= post.content.slice(149) %></p>
            <p><%= post.author %></p>
            <p><%= post.date %></p>
        </div>

    <% }) %>
    <form action="/create" method="GET">
        <button type="submit">Create Post</button>
    </form>

<%- include("footer") -%>